.right-box .game-a{
	background: #fff;
	padding-left: 30px;
	padding-top: 40px;
	padding-bottom: 40px;
	margin-bottom: 20px;
	border-radius: 6px;
	font-family: "宋体";
}
.right-box .game-a img{
	width: 95%;
	
}