body,*{
	margin: 0;
	padding: 0;
}
body{
	background: rgb(40, 54, 67);
}
#box{
	width: 100%;
	height: 100%;
}
.header,.header1{
	height: 60px;
	background: #1cc09f;
	color: #fff;
	font-weight: bold;
	margin-top: 0;
}
.header .h2,.header1 .h22{
	width: 20%;
	background: rgb(40, 54, 67);
	height: 60px;
	text-align: center;
	font-size: 24px;
	line-height: 55px;
	border-bottom: 4px solid rgba(40, 54, 56,.8);
}
.header1 .h22{
	height: 64px;
	line-height: 58px;
}
.name,.namea{
	width: 180px;
	height: 60px;
	position: absolute;
	right: 5px;
	top: 15px;
	margin-top: 3px;
}
.name p,.namea p{
	float: left;
	font-size: 16px;
}
.down{
	width: 0;
	height: 0;
	border-top: 8px solid #fff;
	border-bottom: 5px solid rgba(0,0,0,0);
	border-left: 8px solid rgba(0,0,0,0);
	border-right: 8px solid rgba(0,0,0,0);
	float: left;
	margin-top: 7px;
	margin-left: 3px;
	cursor: pointer;
}
#flex{
	width: 200px;
	height: 80px;
	display: none;
	position: absolute;
	right: 0;
	z-index: 1;
	box-shadow: -5px 5px 15px rgba(0,0,0,0.5)
	
}
.flex .downpage{
	width: 200px;
	height: 40px;
	background: #fff;
	border-bottom: none;
}
.downpage a{
	text-decoration: none;
	color: #17191B;
}
.flex .downpage a:hover,.flex .downpage:hover{
	color: skyblue;
	text-decoration: inherit;
}
.left{
	width: 20%;
	height: 440px;
	background: rgba(0,0,0,0);
}
.left #sideNav{
	width: 23px;
	height: 35px;
	background: #cfcece;
	position: absolute;
	left: 20%;
	top: 65px;
	z-index: 3;
	cursor: pointer;
	display: block;
}
.left .span{
	width: 0;
	height: 0;
	border-top: 5px solid rgba(0,0,0,0);
	border-bottom: 5px solid rgba(0,0,0,0);
	border-right: 5px solid rgba(0,0,0,0);
	border-left: 5px solid #000;
	margin-top: 12.5px;
	margin-left: 6.5px;
}
.left .slideNav{
	width: 100%;
	height: 440px;
}
.left .slideNav ul{
	margin-top: 30px;
}
.left .slideNav ul li{
	border-bottom: 1px solid rgba(255,255,255,.2);
	height:40px;
	padding-left: 20px;
	padding-top: 18px;
}
.left .navk ul li{
	height:60px;
	
}
.left .slideNav ul .first-a{
	background: #1CC09F;
	border-top: 1px solid rgba(255,255,255,.2);
}
.left .slideNav ul li a{
	color: rgba(255,255,255,.9);
	text-decoration: none;
	font-size: 14px;
	
}

#right{
	min-height: 90%;
	width: 80%;
	background: #f3f3f3;
	position: absolute;
	right: 0;
	top: 60px;
}
#right .right-box{
	width: 90%;
	margin-left: 5%;
	margin-top: 50px;
	padding-bottom: 20px;
}