<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
         http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.3.xsd
         http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd">
    <!--    注解解释器-->
    <context:component-scan
            base-package="com.dqsy.algorithmhome.user">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <context:component-scan
            base-package="com.dqsy.algorithmhome.hdoj">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>
    <context:property-placeholder location="classpath:mail.properties"/>
    <!--    配置视图适配器-->

    <bean id="javaMailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="host" value="${mail.smtp.host}"/>
        <property name="username" value="${mail.smtp.username}"/>
        <property name="password" value="${mail.smtp.password}"/>
        <property name="defaultEncoding" value="${mail.smtp.defaultEncoding}"/>
        <property name="javaMailProperties">
            <props>
                <prop key="mail.smtp.auth">${mail.smtp.auth}</prop>
                <prop key="mail.smtp.timeout">${mail.smtp.timeout}</prop>
            </props>
        </property>
    </bean>
    <bean id="internalResourceViewResolver"
          class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/view/"></property>
        <property name="suffix" value=".html"></property>
    </bean>

    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!--默认编码-->
        <property name="defaultEncoding" value="UTF-8"></property>
        <!--文件上传最大值5MB,5*1024*1024-->
        <property name="maxUploadSize" value="5242880"></property>
    </bean>
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <mvc:exclude-mapping path="/index"/>
            <mvc:exclude-mapping path="/register"/>
            <mvc:exclude-mapping path="/login"/>
            <bean class="com.dqsy.algorithmhome.user.intercepytor.loginInterceptor"></bean>
        </mvc:interceptor>
    </mvc:interceptors>
    <mvc:annotation-driven/>
    <mvc:resources location="/WEB-INF/view/" mapping="/view/**"/>
    <mvc:resources location="/layui/css/" mapping="/layui/css/**"/>
    <mvc:resources location="/layui/font/" mapping="/layui/font/**"/>
    <mvc:resources location="/layui/images/" mapping="/layui/images/**"/>
    <mvc:resources location="/layui/lay/" mapping="/layui/lay/**"/>


</beans>
