<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="layui/css/layui.css"/>
</head>
<body>
<div class="demoTable">

    搜索列：
    <div class="layui-form layui-inline">
        <div class="layui-input-inline">
            <select name="classes" lay-filter="area" id="sele">
                <option value="name" selected="">姓名</option>
                <option value="StudentID">学号</option>
                <option value="classes">班级</option>
                <option value="hduUser">航电账号</option>
            </select>
        </div>
    </div>

    搜索值：
    <div class="layui-inline">
        <input class="layui-input" name="id" id="demoReload" autocomplete="off">
    </div>
    <button class="layui-btn" data-type="reload" id="search">搜索</button>
    <button class="layui-btn layui-btn-normal" id="rePy">重新爬数据</button>

</div>
<table id='demoKai' lay-filter='test'></table>
<script src="layui/layui.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    layui.use(['element', 'jquery', 'table', 'form'], function () {
        var element = layui.element;
        var table = layui.table;
        var $ = layui.jquery;
        table.render({
            elem: "#demoKai",
            url: 'ShowCount',
            toolbar: 'default',
            method: 'post',
            parseData: function (res) {
                return {
                    "code": 0,
                    "msg": "",
                    "count": 45,
                    "data": res
                }
            },
            title: 'ACM社团学生列表',
            loading: true,
            page: true,
            cols: [
                [{
                    field: 'name',
                    title: '姓名',
                    width: '10%'
                }, {
                    field: 'studentID',
                    title: '学号'
                }, {
                    field: 'classes',
                    title: '班级'
                }, {
                    field: 'hduUser',
                    title: '航电账号'
                }, {
                    field: 'count',
                    title: '做题数'
                }]
            ],
            id: 'testReload'
        });

        //爬虫数据
        $("#rePy").click(function () {
            $.ajax({
                url: 'Refresh',
                type: 'post',
                async: true,
                success: function (data) {
                    if (data == 1) {
                        layer.msg('数据更新成功');
                    }
                }
            });
        });

        $("#test").click(function () {
            alert($("#sele").val());
        });


        var active = {
            reload: function () {
                var demoReload = $('#demoReload');
                //执行重载
                table.reload('testReload', {
                        page: {
                            curr: 1 //重新从第 1 页开始
                        },
                        where: {
                            key: {
                                name:
                                    demoReload.val()
                            }
                        }
                    },
                    'data'
                )
                ;
            }
        };


        $("#search").click(function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        })

    });
</script>
</body>


</html>
