<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
<script>
    function e() {
        var form = document.getElementById("form_re");
        var data = new FormData(form); // FormData 封装表单数据 //
        $.ajax({
            url: 'register',
            type: 'POST',
            data: data,                    // 上传formdata封装的数据
            dataType: 'JSON',
            cache: false,                      // 不缓存
            processData: false,                // jQuery不要去处理发送的数据
            contentType: false,                // jQuery不要去设置Content-Type请求头
            success: function (data) {           //成功回调
                alert(data.cause);
            }
        });
    }
</script>
<body>
<form id="form_re">
    <h2>学生注册</h2>
    用户名<input type="text" name="username"> <br>
    密码<input type="password" name="password"><br>
    姓名<input type="text" name="uName"><br>
    邮箱<input type="text" name="eml"><br>
    学号<input type="text" name="sNumber"><br>
    年纪<input type="text" name="grade"><br>
    <!--    照片<input type="file" name="grade" multiple="multiple"><br>-->
    <br>
</form>
<button onclick="e()">注册</button>

</body>
</html>
